# Core backend
django==4.1.1
djangorestframework==3.13.1
social-auth-app-django==5.0.0
drf_social_oauth2
django-extensions==3.2.1
django-cors-headers==3.13.0
django-filter==22.1

# Auto Generated Swagger Doc
drf_spectacular==0.23.1

# Database
psycopg2-binary==2.9.3
sqlparse==0.4.2

# Webserver
gunicorn==20.1.0

# Github
git+https://github.com/NickClearyTech/PyGithub

# Celery
celery==5.2.7
msgpack-python==0.5.6
django-celery-results==2.4.0