# Core backend
django==4.0.6
djangorestframework==3.13.1
social-auth-app-django==5.0.0
drf_social_oauth2
django-extensions==3.2.0
django-cors-headers==3.13.0

# Auto Generated Swagger Doc
drf_spectacular==0.22.1

# Database
psycopg2-binary==2.9.3
sqlparse==0.4.2

# Webserver
gunicorn==20.1.0

# Github
git+https://github.com/NickClearyTech/PyGithub